language: java
jdk:
- oraclejdk8
before_install:
 - chmod +x gradlew
deploy:
  provider: releases
  api_key:
    secure: t19lJK7dUKmHlAvZefqi+9Y9l7PCyqYw/FLzka2WMJFHdzrHljxB05lqSj/8h6/SCSqOsnQIj2QcZuyWOE+12baCZRWS3HEHXbNmce1xBQQwElmROw6k7gNgcNMo6uMofjQQg17SBRnvgne0cco5NbVuJfNNwTvu1BTCiqeyg1V0uuWcyvDNO9gnSmC/FOA3RQ2rtx0FpnM6MqSrEsGVRG5APpVlfF35TKZsXHGBB6glVeib5leLaT4FcgGTEHHDe+sYGDzi3HgkQ0Q4naWaVfcGk5UZ4L7liYvSVynK8VeTy+wk9a3qO1Vtgkyrs8pTrWiKVCYo3igzOG6CDjDCojwPb4hKwwmH3veglxstmh0fFkG9LzkGztRYR1GVrf8AH6YDxh93vEF7NfYzkwybDi3NGlhq5jLkcfm2LrMcvmPYBEpnzQMKHjOGn9E5M4xZdEVcYYpq7yJHABP9MzN1HQ4HUT4577CU6KrUnzVime7kBbUrA9k9QWCih0K8UcUYTxcCyW2biwDkWLDKIjW3fZjlY3eac5t8d1HVzBK8OQ8AY//o2YVKDnb9Cc+WP56leKS4sLtlr0fAjhO9DwPHe37v+mhZ8Ra/5fM7Bt9yfLmzeLWe7wzv1omdO8ZxNMHlgRD4mtWFBrWxvz70Mrw1xNx0KW4qTKcUHg6ybNo9q3E=
  file: 
  - "$TRAVIS_BUILD_DIR/build/libs/RobotLib.jar"
  - "$TRAVIS_BUILD_DIR/build/libs/RobotLib-sources.jar"
  - "$TRAVIS_BUILD_DIR/build/libs/RobotLib-javadoc.jar"
  skip_cleanup: true
  on:
    tags: on
notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
