name: Gradle Build CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: './gradlew build'
      - name: DEBUG CODE # Debug code, remove after figuring out why upload-artifact doesn not work
        run: |
          'ls'
          'cd build'
          'ls'
          'cd libs'
          'ls'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Generated Files
          path: |
            ./build/lib/*
            ./robotlib.json
  versionTest: # Debug job, delete after verifying -Pversion works
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: './gradlew build -Pversion=1.0.0'
      - uses: actions/upload-artifact@v2
        with:
          name: Version Test Files
          path: |
            ./build/lib/*
            ./robotLib.json