name: Build Release

# Only triggers when a release is published, draft releases do not count.
on:
  release:
    types: published

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v1

    - name: Get Tag
      uses: olegtarasov/get-tag@v2.1.1
      id: getTag
      with:
        tagRegex: "v(.*)" # This filters out the `v` from the tag. (Ex: v3.8.0 becomes 3.8.0)

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build RobotLib
      run: './gradlew build'

    - name: Get Release Upload URL
      uses: actions/github-script@0.3.0
      id: getReleaseURL
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const core = require('@actions/core')
          core.setOutput("uploadurl",context.payload.release.upload_url)

    - name: Upload RobotLib Jar
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.getReleaseURL.outputs.uploadurl }} 
        asset_path: ./build/libs/RobotLib-${{ steps.getTag.outputs.tag }}.jar
        asset_name: RobotLib-${{ steps.getTag.outputs.tag }}.jar
        asset_content_type: application/java-archive

    - name: Upload RobotLib JavaDoc Jar
      id: upload-release-asset-javadoc
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.getReleaseURL.outputs.uploadurl }} 
        asset_path: ./build/libs/RobotLib-${{ steps.getTag.outputs.tag }}-javadoc.jar
        asset_name: RobotLib-${{ steps.getTag.outputs.tag }}-javadoc.jar
        asset_content_type: application/java-archive

    - name: Upload RobotLib Sources Jar
      id: upload-release-asset-sources
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.getReleaseURL.outputs.uploadurl }} 
        asset_path: ./build/libs/RobotLib-${{ steps.getTag.outputs.tag }}-sources.jar
        asset_name: RobotLib-${{ steps.getTag.outputs.tag }}-sources.jar
        asset_content_type: application/java-archive


  generateJSON:
    # The build job (above) must complete successfully in order for this job to run.
    needs: build

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Generate robotlib.json
      run: './gradlew vendorJSON'

    - name: Commit robotlib.json
      uses: EndBug/add-and-commit@v7.3.0
      with:
        add: './robotlib.json'
        branch: 'master'
        message: 'Automated - Update robotlib.json for release'

    - name: Get Release Upload URL
      uses: actions/github-script@0.3.0
      id: getReleaseURL
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const core = require('@actions/core')
          core.setOutput("uploadurl",context.payload.release.upload_url)

    - name: Upload robotlib.json to Release
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.getReleaseURL.outputs.uploadurl }} 
        asset_path: ./robotlib.json
        asset_name: robotlib.json
        asset_content_type: application/json